nest-asyncio>=1.5.8
evaluate>=0.4.1
cer>=1.2.0
levenshtein>=0.26.0
pyarrow>=18.0.0
streamlit-tree-select>=0.0.5
azure-identity>=1.15.0
azure-keyvault-secrets>=4.7.0
scipy>=1.11.1
python-pptx>=1.0.2
nltk>=3.9.1
imageio>=2.34.0
imageio-ffmpeg>=0.4.9
xminigrid==0.9.1
flax==0.8.4
jax==0.4.27
